<li class="tail-list__item" ...attributes>
  <div class="tail-list__container">
    {{yield (hash
      Top=(component "tail-list/item/top")
      Bottom=(component "tail-list/item/bottom")
    )}}
  </div>
</li>