<div class="tail-list__top">
  {{yield (hash
    Title=(component "tail-list/item/top/title")
    Meta=(component "tail-list/item/top/meta")
    Pill=(component "tail-list/item/top/pill")
  )}}
</div>