<div class="max-w-7xl mx-auto sm:p-6 lg:p-8">

  <div class="bg-white shadow overflow-hidden sm:rounded-md mb-3 sm:mb-6 lg:mb-8">

    <Tail-List as |List|>
      <List.Item as |Item|>
        <Item.Top as |Top|>
          <Top.Title @text="Back End Developer" />
          <Top.Meta>
            <Top.Pill @text="Full-time" />
          </Top.Meta>
        </Item.Top>
        <Item.Bottom as |Bottom|>
          <Bottom.Meta @icon="sm-users">Engineering</Bottom.Meta>
          <Bottom.Meta @icon="sm-location-marker">Remote</Bottom.Meta>
          <Bottom.Spacer />
          <Bottom.Meta @icon="sm-calendar">
            <span>
              Closing on
              <time datetime="2020-01-07">January 7, 2020</time>
            </span>
          </Bottom.Meta>
        </Item.Bottom>
      </List.Item>
      <List.Item as |Item|>
        <Item.Top as |Top|>
          <Top.Title @text="Back End Developer" />
          <Top.Meta>
            <Top.Pill @text="Full-time" />
          </Top.Meta>
        </Item.Top>
        <Item.Bottom as |Bottom|>
          <Bottom.Meta @icon="sm-users">Engineering</Bottom.Meta>
          <Bottom.Meta @icon="sm-location-marker">Remote</Bottom.Meta>
          <Bottom.Spacer />
          <Bottom.Meta @icon="sm-calendar">
            <span>
              Closing on
              <time datetime="2020-01-07">January 7, 2020</time>
            </span>
          </Bottom.Meta>
        </Item.Bottom>
      </List.Item>
      <List.Item as |Item|>
        <Item.Top as |Top|>
          <Top.Title @text="Back End Developer" />
          <Top.Meta>
            <Top.Pill @text="Full-time" />
            <Top.Pill @text="Full-time" />
          </Top.Meta>
        </Item.Top>
        <Item.Bottom as |Bottom|>
          <Bottom.Meta @icon="sm-users">Engineering</Bottom.Meta>
          <Bottom.Meta @icon="sm-location-marker">Remote</Bottom.Meta>
          <Bottom.Spacer />
          <Bottom.Meta @icon="sm-calendar">
            <span>
              Closing on
              <time datetime="2020-01-07">January 7, 2020</time>
            </span>
          </Bottom.Meta>
        </Item.Bottom>
      </List.Item>
    </Tail-List>

  </div>

</div>